---
layout: layouts/base.liquid
title: "About"
permalink: "/about/"
---

<div class="about-page">
  <div class="about-logo">
    <img src="/images/logo.svg" alt="Eats Around the World Logo" class="homepage-logo">
  </div>
  
  <div class="about-content">
    <h1>About</h1>
    <p>Eats Around the World was created to help spread the love for all kinds of food.</p>
    
    <p>If you found a mistake, or would like to contribute new foods and images, check us out on <a href="https://github.com/seanyeh/eats-around-the-world" target="_blank">GitHub</a>!</p>
  </div>
</div>